
<div>
  <% if user_signed_in? %>
    User <%= link_to current_user.user_name, user_path(current_user.id) %>
  <% end %>
</div>

<h1>Events</h1>

<div>
  <% unless user_signed_in? %>
    <%= link_to "sign in", new_user_session_path %><br>
    <%= link_to "sign up", new_user_registration_path %><br>
  <%end%>

  <% if user_signed_in? %>
    <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %><br>
    <%= link_to "Edit profile", edit_user_registration_path %><br><br>
  <%end%>

  <%= link_to "New event", new_event_path %><br><br>
</div>

<div>
  <h1> Past events </h1>
    <ul>
      <% @past_events.find_each do |event| %>
        <li> 
          <%= link_to event.event, event_path(event.id) %> hosted by
          <%= link_to event.creator.user_name, user_path(event.creator.id) %>
        </li>
      <% end %>
    </ul>
<div>

<div>
  <h1> Upcomming events </h1>
    <ul>
      <% @upcoming_events.find_each do |event| %>
        <li> 
          <%= link_to event.event, event_path(event.id) %> hosted by
          <%= link_to event.creator.user_name, user_path(event.creator.id) %>
        </li>
      <% end %>
    </ul>
<div>

